/*nav {
  background: teal;
}*/

.listed-note {
  font-size: 50%;
}

.new-note-container {
  padding-left: 5%;
  padding-right: 5%;
}

.save-button {
  /*background: teal;*/
}

.note-title {
  height: 30%;
}

.note-text-area {
  height: auto;
  /*position: absolute;*/
  /*min-height: 500%;*/
}