<div class="notes-container">
  {{#link-to "notes.new" class="new-note-button btn-floating btn-large waves-effect waves-light red"}}
    <i class="medium material-icons">mode_edit</i>
  {{/link-to}}


  <table class="striped centered">
    <tbody>
      {{#each notes as |note|}}
        <tr class="note-row">
          <td class="listed-note">
            {{#link-to "notes.edit" note}}
              {{note.title}}
            {{/link-to}}
          </td>
          <td class="listed-note">
            {{moment-format note.lastChanged "MM/DD/YYYY"}}
          </td>
        </tr>
      {{else}}
        <div class="no-notes">
          You have no notes. Press the red button to start writing!
        </div>
      {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}
